


:root{
    --gris-oscuro: #1d252c;
    --gris-claro: #626262;
    --background-gris: #1b2127;
    --just-white: #ffffff;
    --background-claro: #fafafa;
    --celeste: #026fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'icomoon';
    src:  url('./images/fonts/icomoon.eot?f5a6l7');
    src:  url('./images/fonts/icomoon.eot?f5a6l7#iefix') format('embedded-opentype'),
      url('./images/fonts/icomoon.ttf?f5a6l7') format('truetype'),
      url('./images/fonts/icomoon.woff?f5a6l7') format('woff'),
      url('./images/fonts/icomoon.svg?f5a6l7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }


body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    /* color: var(--just-white); */
    margin: 20px;
}

ol,ul {
    list-style: none;
}

.hero {
    width: 100%;
    height: auto;
    background-color: var(--gris-claro);
}

.main__hero{
    max-width: 1000px;
    width: 48%;
    margin: 10px;
    padding: 10px;
    height: auto;
    display: inline-block; 
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;
    text-align: center;
    height: auto;
    
}


.container__hero{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
}


.main__img{
    object-fit: cover;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    flex-wrap: wrap;
    width: 500px;
    height: 300px;  
    background-repeat: no-repeat;
    background-size: 500px 300px;
    background-position-x: right;

}

h1 strong{
    color: var(--celeste);
}

h2 {
    color: var(--celeste);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.4rem;
    margin: 20px;
}

.header {
    background-color: var(--background-gris);
    color: var(--just-white);
    display: flex;
    justify-content: space-around; /* espacion entre el hero y el menu */
    height: 70px;/* alto que sera heredado */
    flex-wrap: wrap; /* los elementos fluyen a otra linea dependiendo de la resolucion de la pantalla */
    z-index: 99;
    align-items: center;
    flex-wrap: wrap;

    /* fijar cabecera 
    width: 100%;
    left:0;
    top: 0;
    position: fixed;  posicion fija de la cabecera */
}

.menu { 
    height: inherit; /* Hereda de .header */
}

.container__header{

    /* max-width: 1000px; */
    align-content: center;
    width: 100%;
    margin: auto 0;
    flex:1;
    padding: 20px;
    display: inherit;
    justify-content: space-between;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.container__header .logo {
    -webkit-text-stroke: 1px #026fff;
    font-size: 3rem;
}

.header ol { 
    display: flex; /*Solo aplica a los hijos directos*/
    height: inherit; /* .header ol hereda de .menu */

}

.header ol li {
    height: inherit; /* .header ol li herda de .header ol */
}

.header a {
    color: var(--just-white);
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px; /* padding solo a los lados para conseguir separacion */
    font-size: 2rem;
}

.portfolio {
    background: var(--background-claro);
    width: 100%;
    
}

.container__project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly

}

.project {
    max-width: 1000px;
    width: 100%;
    border: 1px solid var(--gris-claro);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: auto;
    background-color: var(--just-white);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

.project__title {
    font-size: 3.0rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.project__course, 
.project__date,
.project__url {
    margin: 10px 0;
    font-size: 1rem;
}

.project__date small,
.project__url small {
    font-size: 1rem;
}

.project__description {
    margin: 10px;
    font-size: 2.0rem; 
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project__details {
    width: 50%;
}

.project__image--container {
    width: 50%;
}

.project__image--container-item{
    max-width: 100%; /* con respecto al elemento padre */
}

.experience__list--title{
    margin-left: 20px;
}

.experience__list{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */

    background: var(--background-claro);
    width: 100%;
}

.container__experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.experience{
    max-width: 1000px;
    border: 1px solid var(--gris-claro);
    margin: 10px;
    width: 100%;
    padding: 10px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap; 

}

.experience img {
    display: inherit;
    justify-content: center;
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.experience__detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: var(--just-white);
    position: relative;
    padding: 20px;
    text-align: center;
}

.experience__description {
    margin: 20px;
    text-align: left;
    font-size: 1rem;
}

.experience__url {
    color: var(--celeste);
    border: 1px solid;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px; 
    
}

.contact {
    background-color: var(--celeste);
    color: var(--just-white);
    height: 100px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.social__link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social__link.github {
    background-image: url("./images/github.svg");
}

.social__link.facebook {
    background-image: url("./images/facebook.svg");
    
}

.social__link.instagram {
    background-image: url("./images/instagram.svg");
    
}

.social__link.linkedin {
    background-image: url("./images/linkedin-transparent.png");
}

.form__email {
    margin-left: 15px;
}

.form__email input{
    border-color: var(--just-white);
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 5px 35px;
    background-image: url("./images/envelope.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px ;
}

.form__email button {
    display: block;
    border-color: var(--just-white);
    background: transparent;
    color: var(--just-white);
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
}

.form__email h3 {
    font-family: 'Fjalla One', sans-serif;
    
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto 0;
    flex:1;
    padding: 20px;
    display: inherit;
    /* justify-content: inherit; */
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.footer {
    width: 100%;
    color: var(--just-white);
    height: auto;
    font-size: 1.4rem;
    padding: 15px;
    background-color: var(--background-gris);
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; */
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__content {
    display: flex;
    align-items: center;
    
}

.footer__content--grats{
     display: flex;
     align-items: center;   
}

.footer__image{
    margin: 10px;
}

.footer img {
    vertical-align: center;
}

.footer a {
    color: var(--just-white);
}


.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0, 0.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}

@media screen and (max-width: 1024px) {
    .container__hero {
        padding: 0 1em;
        width: 100%;
        justify-content: flex-start;
       
    }

    .hero {
        height:auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap
    }

    .main__hero {
        max-width: 420px;
        font-size: 4rem;

    }

    .main__img{
        position: absolute;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        flex-wrap: inherit;
        z-index:1;
        right:0;
        width: 50%;
    }

    h1 {
        font-size: 2em;
        z-index:2;
    }

}

@media screen and (max-width: 767px) {
    
    .burger-button{
        display: block;
    }
    
    .header {

        display: block;
        height: auto;
    }

    .header ol {
        display: block;

    }

    .header ol li {
        height: 50px;
    }

    .header a {
        justify-content: center;
        height: 4rem;
        font-size:3.2rem;
        /* text-decoration: underline; */
        margin-bottom: .5em;
    }

    .header .logo {
        text-align:center;
        text-decoration: none;
    }


    .menu{
        position: fixed;
        background-color: rgba(5, 111, 255, .9);
        z-index: 3;
        top: 0;
        left:-100vw; /* Para que el menu se oculte a la izquierda y se cree el efecto al hacer click*/
        width: 100vw;
        bottom: 0;/* height: 100vw; */ /*A partir de aqui para centrar*/
        display: flex;
        align-items: center;
        justify-content: center; /* centrar hasta aqui */
        transition: .3s; /* Para crear efecto de transición */
    }

    .menu.is-active { /* clase para hacer que se mustre menu */
        left: 0;
    }

    .hero {
        width: 100%;
    }

    
    .main__hero{
        /* display: block; */
        width: 48%;
        text-align: center;
        font-size: 3rem;
    }

    .main__img{
        width: 48%;
        text-align: center;
    } 

    .project {
        display: block;
    }

    .project__image--container{
        width: auto;
        text-align: center;
    }

    .project__image--container-item{
        max-width: 50%;
    }

    .project__details{
        width: auto;
        font-size: 16px; /* se lo puede quitar y es el mismo or defecto del navegador */
    }

    .project__course, .project__date, .project__url{
        margin: 0.4em 0;
    }


    .project__title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project__url {
        font-size: 1em;
    }

    .project__course {
        font-size: 0.7em;
    }

    .project__date{
        font-size: 1em;
    }

    .project__description{
        font-size: 0.8em;
    }

    .experience {
        width: auto;
        flex-shrink: initial;
    }

    .experience img {
        width: 100%
    }

    .experience__detail{
        margin: -2em .5em .5em;
        padding: .2em;
    }

    .contact{
        height: auto;
        padding: 1em 0;
        text-align:center;
        display: block;
    }

    .form__email button {
        margin: 1em auto;
    }

    .form__email h3 {
        margin-top: 0;
    }

    .footer__container {
        height: auto;
        display: block;
        text-align:center;
        border: 1px solid transparent;
    }

    .footer__content{
        display:block;
        text-align: center;
    }


    .footer img {
        display:block;
        margin: 0.7em auto;
    }


    .footer__content--grats{
        display: block;
        
   }
}

@media screen and (max-width: 480px) {
    
    h1 {
        font-size: 1.5em;
    }
    
    .project__details{
        font-size: 12px;
    }

    .main__hero{
        /* display: block; */
        width: 48%;
        text-align: center;
        font-size:2rem;
    }

    .main__img{
        width: 40%;
        text-align: center;
    } 


}

@media screen and (max-width: 400px) {
    .main__img{
        object-fit: contain;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.2em;
        text-shadow: 1px 2px 2px #000;
    }

    .hero {
        padding: 2em 1em;
    }
}